<!-- src/app/cookie-policy/cookie-policy.component.html -->
<div class="container mt-5 cookies">
    <h2 class="mb-2">{{InformacionCookies}}</h2>
    <p class="mb-4">{{InformacionCookiesDescripcion}}</p>
  
    <h3>{{QueSonCookies}}</h3>
    <p>{{QueSonCookiesDescripcion}}</p>
    <p class="mb-4">{{QueSonCookiesDescripcion2}}</p>
  
    <h3>{{CookiesAfectadasNormativa}}</h3>
    <p class="mb-4">{{CookiesAfectadasNormativaDescripcion}}</p>
  
    <h3>{{TiposCookies}}</h3>
    
    <h4>{{SegunFinalidad}}</h4>
    <ul>
      <li><strong>{{CookiesTecnicas}}</strong>{{CookiesTecnicasDescripcion}}</li>
      <li><strong>{{CookiesAnaliticas}}</strong>{{CookiesAnaliticasDescripcion}}</li>
      <li><strong>{{CookiesPublicitarias}}</strong>{{CookiesPublicitariasDescripcion}}</li>
      <li><strong>{{CookiesPublicidadComportamental}}</strong>{{CookiesPublicidadComportamentalDescripcion}}</li>
      <li><strong>{{CookiesSociales}}</strong>{{CookiesSocialesDescripcion}}</li>
      <li><strong>{{CookiesAfiliados}}</strong>{{CookiesAfiliadosDescripcion}}</li>
      <li><strong>{{CookiesSeguridad}}</strong>{{CookiesSeguridadDescripcion}}</li>
    </ul>
  
    <h4>{{SegunPropiedad}}</h4>
    <ul>
      <li><strong>{{CookiesPropias}}</strong>{{CookiesPropiasDescripcion}}</li>
      <li><strong>{{CookiesTerceros}}</strong>{{CookiesTercerosDescripcion}}</li>
    </ul>
  
    <h4>{{SegunPlazo}}</h4>
    <ul class="mb-4">
      <li><strong>{{CookiesSesion}}</strong>{{CookiesSesionDescripcion}}</li>
      <li><strong>{{CookiesPersistentes}}</strong>{{CookiesPersistentesDescripcion}}</li>
    </ul>
  
    <h3>{{TratamientoDatos}}</h3>
    <p>{{TratamientoDatosDescripcion}}</p>
  
    <ul class="mb-4">
      <li><strong>{{FinesTratamiento}}</strong>{{FinesTratamientoDescripcion}}</li>
      <li><strong>{{LegitimacionTratamiento}}</strong>{{LigitimacionTratamientoDescripcion}}</li>
      <li><strong>{{CriteriosConservacionDatos}}</strong>{{CriteriosConservacionDatoDescripcion}}</li>
      <li><strong>{{ComunicacionDatos}}</strong>{{ComunicacionDatosDescripcion}}</li>
    </ul>
  
    <h3>{{DerechosInteresado}}</h3>
    <ul class="mb-4">
      <li>{{DerechoRetirarConsentimiento}}</li>
      <li>{{DerechoAcceso}}</li>
      <li>{{DerechoReclamacion}}</li>
    </ul>
  
    <h3>{{DatosContacto}}</h3>
    <p class="mb-4">E-mail: <a href="mailto:info@resacaclub.com">info&#64;resacaclub.com</a></p>
  
    <h3>{{CookiesUtilizadas}}</h3>
    
    <h4>{{TecnicasFuncionales}}</h4>
    <table class="full-width-table mb-4">
      <thead>
        <tr>
          <th>{{Nombre}}</th>
          <th>{{Descripcion}}</th>
          <th>{{Duracion}}</th>
          <th>{{Entidad}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>*_preferred_lang</td>
          <td>{{AlmacenaPreferencias}}</td>
          <td>{{UnAnio}}</td>
          <td>{{CookiePropia}} </td>
        </tr>
      </tbody>
    </table>

    <h3>{{PanelConfiguracion}}</h3>
    <p class="mb-4">{{PanelConfiguracionDescripcion}}</p>
  
    <h3>{{GestionarCookiesTitulo}}</h3>
    
    <h4>{{EliminarCookies}}</h4>
    <p>{{EliminarCookiesDescripcion}}</p>
  
    <h4>{{GestionarCookies}}</h4>
    <p>{{GestionarCookiesDescripcion}}</p>
  
    <h4>{{BloquearCookies}}</h4>
    <p class="mb-4">{{BloquearCookiesDescripcion}}</p>
  
    <h3>{{EliminarCookiesNavegador}}</h3>
    <table class="full-width-table mb-4">
        <thead>
          <tr>
            <th>{{Navegador}}</th>
            <th>{{Enlace}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chrome</td>
            <td><a href="http://support.google.com/chrome/answer/95647?hl=es" target="_blank">http://support.google.com/chrome/answer/95647?hl=es</a></td>
          </tr>
          <tr>
            <td>Edge</td>
            <td><a href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae0" target="_blank">https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae0</a></td>
          </tr>
          <tr>
            <td>Explorer</td>
            <td><a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer" target="_blank">https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer</a></td>
          </tr>
          <tr>
            <td>Firefox</td>
            <td><a href="https://www.mozilla.org/es-ES/privacy/websites/#cookies" target="_blank">https://www.mozilla.org/es-ES/privacy/websites/#cookies</a></td>
          </tr>
          <tr>
            <td>Safari</td>
            <td><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/es-es/guide/safari/sfri11471/mac</a></td>
          </tr>
          <tr>
            <td>Opera</td>
            <td><a href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData" target="_blank">https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  